.call-to-action {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 43px;
    line-height: 4rem;
  }
  p {
    margin-top: 20px;
    max-width: 691px;
    line-height: 40px;
    font-size: 23px;
    font-weight: 500;
  }
}

.download {
  display: flex;
  align-self: center;
  padding-top: 20px;
}

/* Small Devices, Tablets */
@media only screen and (min-width: $min-width-l) {
  .call-to-action {
    padding-top: 40px;
    text-align: inherit;
    display: flex;
    flex-direction: row;
    h1 {
      line-height: inherit;
      max-width: 645px;
      font-size: 100px;
      letter-spacing: 0;
      font-weight: 600;
    }
    p {
      max-width: 617px;
    }
    .download {
      display: flex;
      align-self: flex-end;
      justify-content: flex-end;
    }
  }
}
