/*==========  Mobile First Method  ==========*/

.full-width-image {
  position: 0;
  padding-top: 0;
  margin-top: 0;
}

.hero-img {
  z-index: 1;
}

.main-img {
  width: 100%;
}

.background {
  display: none;
  position: absolute;
  top: 0;

  img {
    width: 790px;
    height: 608px;
  }
}

/* Medium Devices, Desktops, Large Devices, Wide Screens */
@media only screen and (min-width: $min-width-xl) {
  .full-width-image {
    position: relative;
    padding-top: 110px;
    margin-top: 50px;
  }

  .background {
    display: flex;

    .dark-bg {
      opacity: 0.3;
    }

    .light-bg {
      opacity: 1;
    }
  }

  .left-bg {
    display: flex;
    justify-self: start;
    left: -100px;
  }

  .right-bg {
    display: flex;
    justify-self: end;
    right: -100px;
  }
}
