.highlight-section {
  align-items: unset;
  padding-bottom: 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  
  .highlight-image {
    order: 2;
    margin: 0;
  }
  
  .highlight-image img {
    width: 100%;
  }
  
  .highlight-image {
    margin: 0;
    padding-top: 20px;
  }
  
  .highlight-content {
    margin-bottom: 30px;
    text-align: left;
  }
  .highlight-content h2 {
    margin-top: 20px;
  }
  
  .highlight-content > p:first-of-type {
    font-size: 20px;
    line-height: 36px;
    margin-top: 20px;
  }
  .highlight-content > p:last-of-type {
    font-size: 16px;
    line-height: 30px;
    margin-top: 20px;
  }
}



/* Small Devices, Tablets */
@media only screen and (min-width: $min-width-l) {
  .highlight-section {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 110px;
    .highlight-image {
      margin-right: 60px;
    }
  
    .highlight-image img {
      width: 516px;
    }
  }
}
